.topnav {
    background-color: blue;
    height: 100;
    padding: 13px;
    margin-top: -10px;
    padding-right: 0;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    font-style: Georgia;
    font-size: 20px;
  }
  
.container-sidebar{
    background: #27292D;
}

.sidenav {
  display: flex;
}

.container-sidebar {
  width: 250px; /* Ajusta el ancho del sidebar según sea necesario */
}

.content-container {
  flex-grow: 1;
  padding: 20px; /* Ajusta el padding según sea necesario */
  margin-left: 250px; /* Ajusta el margen izquierdo para que no se superponga con el sidebar */
  padding-top: 80px;
}
  